.hotel-timeline-background-line {
    stroke: black;
}

.hotel-elements {
    stroke-width: 4;
    cursor: pointer;
}

.resize-handler {
    cursor: col-resize;
}

.remove-btn-handler {
    text-anchor: end;
    cursor: pointer;
}

.flight-limit-line {
    fill: none;
    stroke: red;
    stroke-width: 4;
}